@font-face {
  font-family: "iconfont"; /* Project id 5206775 */
  src: url('iconfont.woff2?t=1784562194966') format('woff2'),
       url('iconfont.woff?t=1784562194966') format('woff'),
       url('iconfont.ttf?t=1784562194966') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yumaoqiu:before {
  content: "\e7a3";
}

.icon-icon:before {
  content: "\e65f";
}

.icon-wazi:before {
  content: "\e606";
}

.icon-huxi:before {
  content: "\e608";
}

.icon-ziyuan:before {
  content: "\e650";
}

.icon-huyaomoshi:before {
  content: "\e630";
}

.icon-a-editedit:before {
  content: "\e78c";
}

.icon-staticsfill:before {
  content: "\e6da";
}

.icon-rili:before {
  content: "\e640";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-shubao:before {
  content: "\e60a";
}

.icon-rili1:before {
  content: "\e662";
}

.icon-yumaoqiuxie:before {
  content: "\e6a0";
}

.icon-yumaoqiupai:before {
  content: "\e622";
}

.icon-statics:before {
  content: "\e67c";
}

.icon-a-SquashRacket:before {
  content: "\eb96";
}

.icon-user:before {
  content: "\eaa1";
}

